<p>
  <strong>タイトル：</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>URL：</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>名前：</strong>
  <%= @bookmark.name %>
</p>

<%= link_to 'Back', '/' %>